.entry-content {
	> *:not( .alignwide ):not( .alignfull ) {
		margin-left: auto;
		margin-right: auto;
		max-width: 740px;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.alignleft img {
		float: left;
	}
	.alignright img {
		 float: right;
	}
	.alignfull {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
		margin-right : calc( -100vw / 2 + 100% / 2 );
		max-width    : 100vw;
	}
	> *.alignwide {
		max-width: 1024px;
	}
	.alignwide {
		margin-left: auto;
		margin-right: auto;
		max-width    : 1024px;
	}
}
