//
// Color system
//

$primary: #5cc6d0;
$secondary: #ec268f;
$blue: #6bb0c7;
$dark-blue: darken($blue, 20%);
$nav-blue: #005762;
$orange: #faab18;
$dark-orange: #ec9900;
$purple: #ef5a91;
$dark-purple: darken($purple, 20%);
$light-grey: #f6f6f6;
$grey: #727376;
$dark-grey: #222222;

.wrapper {
	#content {
		// Gutenberg Colors
		.has-blue-color {
			color: $blue;
		}
		.has-blue-background-color {
			background-color: $blue;
		}
		.has-dark-blue-color {
			color: $dark-blue;
		}
		.has-dark-blue-background-color {
			background-color: $dark-blue;
		}
		.has-purple-color {
			color: $purple;
		}
		.has-purple-background-color {
			background-color: $purple;
		}
		.has-dark-purple-color {
			color: $dark-purple;
		}
		.has-dark-purple-background-color {
			background-color: $dark-purple;
		}
		.has-dark-grey-color {
			color: $dark-grey;
		}
		.has-dark-grey-background-color {
			background-color: $dark-grey;
		}
		.has-light-grey-color {
			color: $light-grey;
		}
		.has-light-grey-background-color {
			background-color: $light-grey;
		}
		.has-orange-color {
			color: $orange;
		}
		.has-orange-background-color {
			background-color: $orange;
		}
		.has-dark-orange-color {
			color: $dark-orange;
		}
		.has-dark-orange-background-color {
			background-color: $dark-orange;
		}
		.has-grey-color {
			color: $grey;
		}
		.has-grey-background-color {
			background-color: $grey;
		}
		.has-white-color {
			color: white;
		}
		.has-white-background-color {
			background-color: white;
		}
		.has-black-color {
			color: black;
		}
		.has-black-background-color {
			background-color: black;
		}
	}
}
