#wrapper-navbar {
	.bg-primary {
		background-color: white !important;
		.navbar-brand {
			img {
				max-width: 100px;
			}
		}
		.navbar-toggler-icon {
			background-color: $secondary;
		}
		#navbarNavDropdown {
			.navbar-nav {
				.active > .nav-link,
				.nav-link {
					color: $secondary;
					font-size: 20px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.home {
	#wrapper-navbar {
		z-index: 2;
		position: relative;
		.bg-primary {
			background-color: transparent !important;
		}
	}
	#page-wrapper {
		position: relative;
		top: -115px;
	}
}
