@import '/assets/variables.scss';
@import '/assets/general.scss';

/*	App Container */

.App {
  text-align: center;
}

.App-wrapper {
  background-color: $axis_blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: $axis_purple;
}
